@using ViewModelFun.Models
@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <h3>Welcome Message</h3>
    <h6> This is a random message of some sort of text.  </h6>
</div>

