@using ViewModelFun.Models
@model User


@{
    ViewData["Title"] = "Users";
}

<div class="body">
    <h3>Here is one user.</h3>
</div>


<div class="text-center">
    <p>First: @Model.FirstName Last: @Model.LastName</p>
</div>

